---
to: pages/<%= h.changeCase.lcFirst(name) %>.js
---
<% const pageLower = h.changeCase.lcFirst(name) -%>
<% const pageUpper = h.changeCase.pascal(name) -%>
import React from 'react';
import Screen from 'src/screens/<%=pageLower %>';
import Page from 'src/components/Page';
import Head from 'next/head';

export default Page({
  loginRequired: <%=isPrivate %>,
  logoutRequired: false,
  adminRequired: false,
  i18n: ['<%=pageLower %>', 'common'],
  showSwitchLangBtn: true,
  displayName: '<%=pageUpper %>Page',
})(() => (
  <React.Fragment>
    <Head>
      <title><%=pageUpper %></title>
    </Head>
    <Screen />
  </React.Fragment>
));
